

   .home{

    height: 90vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }



    .active{
      color: goldenrod !important;
      font-weight: bold !important;
      
    }
